@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --black1: #181818;
    --black2: #202020;
    --white1: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f6f2f2;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #202020;
    border-radius: 20px;
  }
html {
  font-size: 14px;
}
a{
    text-decoration: none;
    color: blue;
}
body {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  color: #202020;
}
.btn{
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #202020;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.container-1{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

}
.navigation.active{
    width: 0;
}
.navigation ul{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    padding: 2rem 4rem;
    list-style: none;
}

.navigation ul li{
    position: relative;
    width: 100%;
    outline: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: #202020;   
    text-decoration: none;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 2rem;
    opacity: 0.8;
}

.navigation ul li a:hover{
    opacity: 1;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: width 0.5s,left 0.5s;
    background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

}

.main.active{
    width: calc(100% - 0px);
    left: 0;
}

.topbar{
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 1rem 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: width 0.5s,left 0.5s;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.topbar.active{
    width: calc(100% - 0px);
    left: 0;
}

.topbar .logo{
    color: #202020;
    text-decoration: none;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}


.topbar .toggle{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}   

section{
    position: relative;
    min-height: 100vh;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content .title{
    padding: 4rem;
    line-height: 3rem;
}
.content .title a{
    text-decoration: none;
    cursor: pointer;
   
}
.content .title h3{
    font-size: 4rem;
    font-weight: 4rem;
}
.content .title p{
    font-size: 1.5rem;
    font-weight: 1.5rem;
}
.content img{
    width: 350px;
    height: 350px;
    border-radius: 350px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about .me h1{
    font-size: 4rem;
    font-weight: 4rem;

}
.about .me a{
    text-decoration: none;

}
.about .me p {
    font-size: 2rem;
    font-weight: 2rem;
    padding: 0 7rem;
}   

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.education h1{
    font-size: 4rem;
    font-weight: 4rem;
}
.edu-card{
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 2rem;
    width: 450px;
    height: 150px;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.projects h1{
    font-size: 4rem;
    font-weight: 4rem;
}
.pro-cards{
    background-color: white;
    margin:2rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 300px;
    height: 200px;
}
.pro-cards a{
   display: flex;
   justify-content: start;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skills h1{
    font-size: 4rem;
    font-weight: 4rem;
    padding: 2rem;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin:2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact h1{
    font-size: 4rem;
    font-weight: 4rem;
}


.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

 
  
  .thing{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding:0 5rem ;
    width: 100%;
  }
  .thing h2{
    font-size: 2.3rem;
    padding-bottom: 4rem;
  }
  .thing h3{
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .thing p{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
  }
  .thing p a{
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    color: #202020;
  
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
  }
  input,textarea{
    padding: 0.8rem 1rem;
    margin: 1rem!important;
    border-radius: 8px;
    background-color: white;
    border: 0.1111rem solid white;
    color: #202020;
    font-weight: 800;
    width: 500px;
  }
  button{
    padding: 0.3rem 2rem;
    border-radius: 10px;
    border: none;
    margin: 2rem;
    background-color: white;
    color: #202020;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  button:hover{
      opacity: 0.8;
  }

  .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .social a{
      color: #202020;
      font-size: 10rem;
      margin: 2rem;
  }
  